.hero {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;

  &-left,
  &-rigth {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &-left {
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
  }

  &-rigth {
    justify-content: center;
    gap: 30px;

    &--title {
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(#4f46e5, 0.5);
      border-radius: 4px;
      padding: 8px 16px;

      h3 {
        color: #4f46e5;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
}

.carrusel {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
}

.silde {
  width: 65%;
  display: flex;
  transition: transform 0.3s ease;
}
