.secondary-button {
  height: 50px;
  width: 120px;
  border-radius: 10px;
  gap: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4f46e5;
  background: transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;

  &:hover {
    background: #d8d5ff;
    transition: all 300ms ease-in-out;
  }

  &--icon {
    color: #4f46e5;
  }
}


