.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons-nav {
  width: 35%;
  display: flex;
  justify-content: flex-end;
}

.buttons-nav > button {
  border: none;
  background-color: transparent;
  color: #1c1c1c;
  font-size: 0.8rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
